$about-s2-left-col-bg: "../img/about-s2-left-col-bg.jpg";
$about-s2-left-col-minh: 241px;
$about-s3-right-col-bg: "../img/about-s3-right-col-bg.jpg";
$about-s3-right-col-minh: 280px;
$border-size: 1px;
$border-style: solid;
$color-blk: #333;
$color-red: #EF3124;
$color-slv: #bbb; 
$color-wht: #fff;
$contact-s1-bg-lg: "../img/contact-s1-bg-lg.jpg";
$contact-s1-bg-md: "../img/contact-s1-bg-md.jpg";
$font-big-size: 25px;
$font-bigger-size: 15px;
$font-header: 'Lexend Giga', sans-serif;
$font-logo: $font-header;
$font-menu: 'Saira Stencil One', cursive;
$font-sign: 'Dawning of a New Day', cursive;
$index-s3-minh: 190px;
$index-s5-bg: "../img/index-s5-bg.jpg";
$navbar-logo-size: 20px;
$navbar-logo-shadow: -1px -1px 2px $color-red;
$navbar-shadow: 0 0 4px $color-red;
$portfolio-s1-bg-lg: "../img/portfolio-s1-bg-lg.jpg";
$portfolio-s1-bg-md: "../img/portfolio-s1-bg-md.jpg";
$reviews-s1-bg-lg: "../img/reviews-s1-bg-lg.jpg";
$reviews-s1-bg-md: "../img/reviews-s1-bg-md.jpg";
$section-full-height:
    "about-s1",
    "confirm-s1",
    "contact-s1",
    "error-s1",
    "index-s1",
    "index-s5",
    "portfolio-s1",
    "portfolio-s2",
    "privacy-s1",
    "reviews-s1",
    "services-s1",
    "services-s2",
    "services-s3",
    "services-s4";
$services-s1-bg-lg: "../img/services-s1-bg-lg.jpg";
$services-s1-bg-md: "../img/services-s1-bg-md.jpg";
$services-s3-bg-lg: "../img/services-s3-bg-lg.jpg";
$services-s3-bg-md: "../img/services-s3-bg-md.jpg";
$shadow-label: 0 0 10px $color-blk;
$shadow-wht: 0 0 2px $color-wht;
$slide-logo-size: 40px;
$section-half-height:
    "about-s2",
    "about-s3",
    "index-s2",
    "index-s3",
    "index-s4",
    "reviews-s2",
    "reviews-s3",
    "reviews-s4",
    "reviews-s5";