$border-size: 1px;
$border-style: solid;
$color-blk: #333;
$color-red: #EF3124;
$color-slv: #bbb; 
$color-wht: #fff;
$font-big-size: 25px;
$font-bigger-size: 15px;
$font-header: 'Lexend Giga', sans-serif;
$font-logo: $font-header;
$font-menu: 'Saira Stencil One', cursive;
$font-sign: 'Sacramento', cursive;
$index-s5-bg: "../img/index-s5-bg.jpg";
$navbar-logo-size: 20px;
$navbar-logo-shadow: -1px -1px 2px $color-red;
$navbar-shadow: 0 0 4px $color-red;
$section-full-height:
    "index-s1",
    "index-s5";
$shadow-wht-color: 0 0 2px $color-wht;
$slide-logo-size: 40px;
$section-half-height:
    "index-s2",
    "index-s3",
    "index-s4";